pdfminer.six
python-docx
tqdm
python-dotenv
sentence_transformers
numpy
chromadb
faiss-cpu
scikit-learn
scipy
joblib
torch
torchvision
torchaudio
json5
openai
ipywidgets
pandas
kagglehub
streamlit
requests
langchain
langgraph
langchain-community
pydantic
langchain-openai
langchain-ollama
docx
pymupdf